* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --one: #3A4663;
  --two: #181F33;
  --btsDr: #647198;
  --btEqual: #D03F2F;
}

body {
  background-color: var(--one);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.container {
  width: 90vw;
  background-color: var(--one);
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  justify-content: space-around;
  color: white;
}

.display-container {
  display: flex;
  background-color: var(--two);
  width: 70vw;
  color: white;
  font-weight: bold;
  flex-direction: column;
  align-items: end;
  height: 3rem;
}

.buttons-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
}

/* .buttons-container {
  margin-top: 1.4rem;
  background-color: #181F33;
  width: 70vw;
}

.buttons-container button {
  background-color: #FFFFFF;
  width: 15vw;
  font-weight: bold;
} */

.dr {
  background-color: var(--btsDr) !important;
}

.reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.equal-color {
  background-color: var(--btEqual) !important;
  grid-column-start: 3;
  grid-column-end: 5;
}
