* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --one: #3A4663;
  --two: #181F33;
  --btsDr: #647198;
  --btEqual: #D03F2F;
  --font-01: #FFFFFF;
  --font-02: #434A59;
  --btnBackGround: #EAE3DC;
  --font-display: #FFFFFF;
}

body {
  background-color: var(--one);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--one);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 530px;
  display: flex;
  /* gap: 100px; */
  justify-content: space-between;
  align-items: center;
  color: var(--font-01);
}

.top p {
  font-size: 29px;
  font-weight: bold;
  color: var(--font-display);
}

.top section {
  display: flex;
  gap: 10px;
}

.top button {
  width: 30px;
  background-color: var(--btnBackGround);
  border: none;
  color: var(--font-02);
  font-weight: bold;
}

.display-container {
  display: flex;
  background-color: var(--two);
  width: 540px;
  color: var(--font-display);
  font-weight: bold;
  flex-direction: column;
  align-items: end;
  height: 128px;
  gap: .5rem;
  border-radius: 10px;
  padding: 1rem;
}

.display {
  font-size: 52px;
  font-weight: bold;
  color: var(--font-display);
}

.buttons-container-grid {
  background-color: var(--two);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  width: 540px;
  height: 480px;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
.buttons-container-grid button {
  color: var(--font-02);
  background-color: var(--btnBackGround);
  border: none;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  /* width: 101px;
  height: 64px; */
}

/* .buttons-container {
  margin-top: 1.4rem;
  background-color: #181F33;
  width: 70vw;
}

.buttons-container button {
  background-color: #FFFFFF;
  width: 15vw;
  font-weight: bold;
} */

.dr {
  background-color: var(--btsDr) !important;
  color: var(--font-01) !important;
}

.reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.equal-color {
  background-color: var(--btEqual) !important;
  grid-column-start: 3;
  grid-column-end: 5;
  color: var(--font-01) !important;
}

@media only screen and (max-width: 612px ) {
  .top {
    width: 320px;
  }

  .display-container, .buttons-container-grid {
    width: 327px;
  }
}